main {
  display: grid;
  grid-template-areas: "content aside";
  grid-template-columns: 3fr 1fr;
}

.content {
  grid-area: "content";
  background-color: red;
}

.aside {
  grid-area: "aside";
  background-color: blue;
}
